[BASIC]
good-names=
    i,
    j, 
    e,
    db,

[MESSAGES CONTROL]
disable=
    broad-except,
    missing-class-docstring,
    missing-function-docstring,
    missing-module-docstring,
    too-few-public-methods,
    too-many-branches,
    too-many-statements,
    useless-object-inheritance,
    duplicate-code,
    consider-using-f-string,  # not supported in python2.7
