language: python

python:
  - "2.6"
  - "2.7"
  # this version has a bug that fails codecov https://github.com/menegazzo/travispy/issues/20
  # - "3.2",
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.6"

# install collectd
before_install:
  - sudo apt-get install collectd

# command to install dependencies
install: "pip install -r requirements.txt"

# command to run tests
script:
  py.test -v test/ --cov=sumologic_collectd_metrics/

after_success:
  - codecov
